mixin techSkill(name, img)
	img.tech-skill.tooltipped(src=`images/logos/${img}` alt=name data-position="bottom" data-delay="50" data-tooltip=name)

mixin thing(url, img, name)
	.thing.col.s6.m4.l3
		a(href=url)
			.card.small.hoverable
				.card-image
					img(src=`images/things/${img}` alt=name)
				.card-content.valign-wrapper
					span.black-text #{name}

mixin imgLink(url, img, name)
	a(href=url)
		img.hoverable(src=`images/icons/${img}.png` alt=name)